*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #C2E9F2;
}

/* Index */

header {
    background-color: #2BC7D9;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center; /* Alinha os itens verticalmente ao centro */
    justify-content: space-between; /* Espaça os itens uniformemente */
    padding: 0px; /* Adiciona um espaçamento lateral */
}

header a, h1 {
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin: 20px; /* Espaçamento entre os links */
}

header a{
    font-size: 20px;
}

main {
    font-size: 30px;
    display: flex;
    flex-direction: column; /* Mantém o texto em coluna */
    align-items: center; /* Centraliza o conteúdo horizontalmente */
    justify-content: center; /* Centraliza o conteúdo verticalmente */
    height: 600px; /* Define uma altura fixa */
    width: 80%; /* Largura relativa à tela */
    margin: auto; /* Centraliza o main horizontalmente e verticalmente */
    text-align: center; /* Centraliza o texto dentro do main */
}

main strong{
    font-size: 40px;
}

main p{
    font-size: 35px;
}
